@charset "utf-8";

/* ===================================================================

   coution Style Sheet
	
------------------------------------------------------------------- */


div #coution{
	color :#666666;
	line-height: 20px;
	padding-top:20px;

}

